{% set socials = [
    {
        id: 'telegram',
        link: 'https://t.me/samtitechweb',
        title: 'Telegram'
    },
    {
        id: 'linkedin',
        link: 'https://www.linkedin.com/company/106296971/',
        title: 'LinkedIn'
    }
] %}

{% set translations = {
    "en": {
        "infoLinks": [
            { "title": "Start a project", "id": "startProjectButton" },
            { "link": "mailto:lang.tez.co@outlook.com", "title": "Other inquiry" }
        ],
        "footerYear": "2025"
    },
    "ru": {
        "infoLinks": [
            { "title": "Начать проект", "id": "startProjectButton" },
            { "link": "mailto:lang.tez.co@outlook.com", "title": "Другой запрос" }
        ],
        "footerYear": "2025"
    },
    "tj": {
        "infoLinks": [
            { "title": "Оғози лоиҳа", "id": "startProjectButton" },
            { "link": "mailto:lang.tez.co@outlook.com", "title": "Дигар дархост" }
        ],
        "footerYear": "2025"
    }
} %}

<footer class="footer">
    {% if hideFooterLinks %}
        <div class="footer__column container__noPadding">
            <div class="footer__wrapper">
                <button class="footer__button button"></button>
            </div>
        </div>
    {% else %}
        <div class="footer__column container__noPadding">
            <ul class="footer__social">
                {% for item in socials %}
                    <li class="footer__social--item">
                        <a href="{{ item.link }}" class="footer__social--link">
                            <span class="footer__social--text">{{ item.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer__column footer__column--middle container__base">
            <div class="footer__wrapper">
                <ul class="footer__links">
                    {% for item in translations[language].infoLinks %}
                        <li class="footer__links--item">
                            {% if item.link %}
                                <a href="{{ item.link }}" class="footer__links--link">
                                    {{ item.title }}
                                </a>
                            {% else %}
                                <div {% if item.id %}id="{{ item.id }}"{% endif %} class="footer__links--link">
                                    {{ item.title }}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <button class="footer__button button"></button>
            </div>
        </div>
        <div class="footer__column footer__column--last container__base">
            <div class="footer__wrapper footer__wrapper--cat">
                <div class="footer__cat">
                    {% set includeIcon = 'cat' %}
                    {% include 'includes/svg.njk' %}
                </div>
                <div class="footer__year">{{ translations[language].footerYear }}</div>
            </div>
        </div>
    {% endif %}
</footer>
