<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageTitle }}</title>
        <meta name="title" content="{{ pageTitle|default('Marketing &amp; Development services') }}">
        <meta name="description" content="{{ pageDescription|default('Professional web development, SMM marketing, targeting, SEO, design, and chatbot creation services to elevate your online presence and accelerate business growth.') }}">
        <meta name="keywords" content="{{ pageKeywords|default('Web development, SMM marketing, Targeting, SEO services, Design, Chatbot creation, Digital marketing, Online presence, Business growth, Web services, Social media marketing, Search engine optimization, Graphic design, Chatbot development, Marketing solutions') }}">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="theme-color" content="#000" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap" rel="stylesheet">

        {% block customCss %}{% endblock %}

        {% include "includes/preload.njk" %}
        {% include "includes/versionCss.njk" %}

        <script>
            window.appSettings = {
                lang: JSON.parse(JSON.stringify('{{ language|default("en") }}')),
            };
        </script>
    </head>

    <body>
        {% block bodyContent %}{% endblock %}

        {% include "includes/versionJs.njk" %}

        {% block customJs %}{% endblock %}
    </body>

</html>