{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <main class="mainpage">
        {% block mainContent %}{% endblock %}
    </main>

{% endblock %}

{% block customJs %}
{% endblock %}