.portfolio {
    &__title {
        font-family: 'Radiotechnika', 'Trispace';
        font-size: 80px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: radial-gradient(107.84% 411.42% at 50% 52%, #FF008A 0%, #980089 8.65%, #000 59.38%, #005E92 83.85%);
        background-clip: text;
        -webkit-text-stroke: 5px transparent;
        width: fit-content;
        padding-top: 100px;
        margin-bottom: 100px;
    }

    &__description {
        flex-basis: 60%;
        max-width: 900px;
        position: relative;
        padding: 30px 35px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.1;

        &::before,
        &::after {
            display: block;
            position: absolute;
            left: 0;
            font-weight: 600;
        }

        &::before {
            content: "<p>";
            top: 0;
        }

        &::after {
            content: "</p>";
            bottom: 0;
        }

        &--wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 145px;
        }

        &--version {
            margin-bottom: 145px;
        }
    }

    &__icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-basis: 40%;
        gap: 50px;

        &--services__icons {
            height: 60px;
            width: 60px;
            justify-self: center;
            align-self: center;

            &--long {
                width: 100%;
                grid-column: 1 / -1;
            }
        }

        &--column {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__inner-heading {
        position: relative;
        margin: 55px auto;
        font-size: 64px;
        font-weight: 400;

        &::before {
            content: "// ";
        }

        &::after {
            content: "";
            width: 100%;
            height: 25px;
            background-color: #48276e;
            position: absolute;
            bottom: -7px;
            left: 0;
            z-index: 0;
        }
    }

    &__button {
        width: 120px;
        height: 120px;
        margin-right: auto;
        opacity: .5;
        transition: opacity .3s;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 14px;
            height: 14px;
            border-top: 2px solid #cfcfcf;
            border-right: 2px solid #cfcfcf;
            -webkit-transform: translate(-8px, -5px) rotate(-45deg);
            transform: translate(-8px, -5px) rotate(-135deg);
            transition: border .3s;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__images {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        &--flexible {
            max-width: calc(50% - 20px);
        }

        &--decorative {
            position: absolute;

            &--top {
                width: 600px;
                top: -650px;
                right: 0;
            }

            &--middle {
                z-index: 2;
            }
        }
    }

    &__images img {
        flex: 1 1 auto;
        height: auto;
    }
}