.section__service {
    padding: 80px 0 100px;

    .section__title {
        margin: 0 0 16px;
    }

    .section__desc {
        font-size: 18px;
        line-height: 1.6;
        color: rgba(255, 255, 255, .82);
        margin: 0 0 16px;
    }

    .section__note {
        font-size: 16px;
        line-height: 1.4;
        color: rgba(255, 255, 255, .62);
        border: 1px dashed rgba(255, 255, 255, .18);
        padding: 12px 14px;
        border-radius: 10px;
        display: inline-block;
    }
}
