@use "./vars/index" as *;

@use "./base";

@use "./components/Loader";
@use "./components/Hero";
@use "./components/Services";
@use "./components/Cards";
@use "./components/Reminder";
@use "./components/Form";
@use "./components/Footer";
@use "./components/Portfolio";
@use "./components/FloatingButton";
@use "./components/ServicePage";
