$white: #FFFFFF;
$black: #000000;
$grey: rgba(207, 207, 207, 1);
$blue: rgba(0, 30, 108, 1);
$blue2: rgba(0, 0, 52, 1);
$blue3: rgba(0, 0, 52, 0.5);
$violet: rgba(228, 122, 255, 1);
$violet2: rgba(72, 39, 110, 1);
$darkBlue: rgba(0, 18, 64, 1);
$darkGrey: #212133;
$greenCorporate: #DBFF00;
