$mobile-breakpoint: 520px;
$tablet-breakpoint-2: 767px;
$tablet-breakpoint-1: 1023px;
$laptop-breakpoint-2: 1439px;
$laptop-breakpoint-1: 1679px;
$desktop-breakpoint: 1919px;
$containerMaxWidth: 1920px;
$containerMinWidth: 320px;